<div id="brand">
  {% if settings.brand_type == 'image' %}

  <div id="brand-primary-image" title="{{shop.name}}">
    {% if template contains 'simmons' %}
        <a href="/pages/simmons-kids"><img src="//cdn.shopify.com/s/files/1/0690/3771/t/4/assets/logo.png?370606501598747184" alt="Simmons Kids"></a>
      {% else %}
        <a href="/">
<!--           <span>{{ shop.name }}</span> -->
            <img src="{{'logo.png' | asset_url}}" alt="{{shop.name}}">
         </a>
      {% endif %}
  </div>

  {% elsif settings.brand_text != "" %}
    <h1 id="brand-primary-text">{{ settings.brand_text | link_to: shop.url }}</h1>
  {% else %}
    <h1 id="brand-primary-text">{{shop.name | link_to: shop.url}}</h1>
  {% endif %}
</div>