<div id="customer-recover-password" class="account-session-module hide">
  <div class="inner">

    <p class="note">
      {{ 'customer_accounts.recover_password.message_html' | t }}
    </p>

    {% form 'recover_customer_password' %}

    <fieldset>

      {% if form.errors %}
      <div class="alert-box error">
        <ul class="errors-list">
          {% for field in form.errors %}
            <li>{{ form.errors.messages[field] }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <input type="email" placeholder="{{ 'customer_accounts.recover_password.email_field_placeholder' | t }}" size="30" name="email" id="recover-email" />

      <div class="form-actions">
        <button type="submit" class="button">{{ 'customer_accounts.recover_password.submit' | t }}</button>&nbsp;&nbsp;

        <div class="secondary-actions">
          <a href="#" id="recover-password-cancel">{{ 'general.cancel' | t }}</a>
        </div>
      </div>

    </fieldset>

    {% endform %}

  </div>
</div>