<style>
/*styling to fix dark blue border-top issue near footer 6/5/17*/
.footer-widgets{
  margin-top: 0;
}
/*styling for text inside "Safe Sleep Starts With You" banner and video image for Desktop*/
@font-face{
  font-family: 'Sweety Tea';
  src:url('//cdn.shopify.com/s/files/1/0578/7201/files/SWEETY-TEA.ttf');
  /*src: url({{"SWEETY-TEA.ttf" | asset_url}});*/
}
h1#SSS{
  font-family: 'Sweety Tea';
  color: #032F63;
  margin-bottom: 0px;
  margin-top: 10%;
  font-size:  41px;
}
@font-face{
  font-family: 'RIFFIC';
  src:url('//cdn.shopify.com/s/files/1/0578/7201/files/Riffic.ttf');
  /*src: url({{"Riffic.ttf" | asset_url}});*/
}
h1#WY{
  font-family:'RIFFIC';
  color: #79A2D8;
  font-size: 90px;
  margin-bottom: 0px;
  line-height: 1;
  margin-top: 0px;
  width: 100%;
}

@font-face{
  font-family: 'Gotham';
  src: url('//cdn.shopify.com/s/files/1/0578/7201/files/Gotham_Light.otf');
}
h6#through{
  font-family: 'Gotham';
  color: #032F63;
  width: 85%;
  font-weight: 100;
}
@font-face{
  font-family: 'Avenir Black';
  src:url('//cdn.shopify.com/s/files/1/0578/7201/files/avenir-black-webfont.ttf');
  /*src: url({{"avenir-black-webfont.ttf" | asset_url}});*/
}
button#LM{
  background-color: #032F63;
  border-radius: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  /*width: 30%;*/
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 0;
}
button#LM h6{
  font-family: 'Avenir Black';
  font-weight: 100;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 1354px){
  h1#WY{
    font-size: 70px;
  }
}
@media screen and (max-width: 1233px){
h1#SSS{
  margin-top:5%;
  }
}
@media screen and (min-width: 1560px){
  h1#SSS{
    margin-top: 15%;
    }
}
@media screen and (min-width: 1600px){
  h1#WY{
    font-size: 100px;
  }
}
/*styling for text inside "Safe Sleep Starts With You" banner and video image for smaller than 1025px (i.e. Tablet)*/
h1#tab_SSS{
  font-family: 'Sweety Tea';
  color: #032F63;
  margin-bottom: 0px;
  /*margin-top: 10%;*/
  font-size:  41px;
}
h1#tab_WY{
  font-family:'RIFFIC';
  color: #79A2D8;
  font-size: 90px;
  margin-bottom: 0px;
  line-height: 1;
  margin-top: 0px;
  width: 100%;
}

h6#tab_through{
  font-family: 'Gotham';
  color: #032F63;
  /*width: 85%;*/
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 100;
  width: 100%;
}
button#tab_LM{
  background-color: #032F63;
  border-radius: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  /*width: 30%;*/
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 0;
}
button#tab_LM h6{
  font-family: 'Avenir Black';
  font-weight: 100;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
img#tab_fd_img{
  border-radius: 10px;
  /*width: 100%;
  padding-right: 5%;
  padding-left: 5%;*/
  /*height: 350px;*/
  margin-top: 2%;
  width: 80%;
}
@media screen and (max-width: 720px){
h1#tab_WY{
  font-size: 70px;
}
}
</style>

<div class="row" id="below-banner-container">
  <div class="medium-10 large-10 medium-push-1 columns show-for-medium-up" style="margin-bottom: -10px;">
    <div class="medium-10 large-10 medium-push-1 columns" id="sub-banner-statement">
      <h2>50 Years of Safety, Style <span class="arial-black">&amp;</span> INNOVATION</h2>
    <h3>That's Why 1 Out of 2 Children Sleep in Our Products!</h3>
    </div>
  </div>
</div>

<div class="row show-for-medium-up">
  <ul id="links-below-banner">
    <li class="link-container" id="box-1">
      <div id="crib-img-text-contain">
        <h2 class="box-title">CRIB TO<br>TODDLER</h2>
        <img src="//cdn.shopify.com/s/files/1/0578/7201/files/guardrail.png">
      </div>
      <a href="/collections/guardrails"></a>
    </li>
    <li class="link-container" id="box-2">
      <h2 class="box-title">Mattresses</h2>
      <a href="/pages/mattresses"></a>
    </li>
    <li class="link-container" id="box-3">
      <h2 class="box-title">SALE!</h2>
      <a href="/pages/sale"></a>
    </li>
    <li class="link-container" id="box-4">
      <h2 class="box-title">PURCHASE<br>EXTENDED<br>WARRANTY</h2>
      <a href="/pages/extended-warranty"></a>
    </li>
    <ul>
</div>
    
<div class="row show-for-medium-up">
    <div class="small-12 medium-10 medium-push-1 columns">
  <div class="medium-10 large-10 medium-push-1 columns">
<a href="/pages/leaders-in-safety"><img id="delta_cares" src="//cdn.shopify.com/s/files/1/0578/7201/files/delta-cares-gives-image-home-page-min_1x1.jpg" style="padding-bottom: 50px;"></a>
</div>
    {% include 'home-top' %}
    <!-- Safety -->
    <div class="safety-divider"></div>
    <div class="safetyContainer row">
      <div id="asset-holder" class="show-for-large-up hide-for-medium hide-for-small">
      <img id="background-banner" src="//cdn.shopify.com/s/files/1/0578/7201/files/Rectangle-Back.png">
      <div id="text-holder">
        <h1 id="SSS">SAFE SLEEP STARTS</h1>
        <h1 id="WY">WITH YOU!</h1>
        <h6 id="through">Through your purchase, <strong>Delta Children</strong> is able to <strong>provide safe sleep environments</strong> for babies around the world.</h6>
        <button id="LM"><a href="/pages/safe-sleep"><h6>Learn More</h6></a></button>
      </div>
      <!-- <div id="white-b"></div> -->
      <img id="fd_img" class="safetyImg" data-reveal-id="dix-video" src="//cdn.shopify.com/s/files/1/0578/7201/files/fort-dix-playbutton-min_1x1.jpg" style="position: absolute; top: 0; right: 0; width: 50%; cursor: pointer;">
      <div id="dix-video" class="reveal-modal with-close" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true">
        <div class="fluid-width-video-wrapper" style="padding-top: 50.25%;">
          <div id="player"></div>
        </div>
      </div>


      <!-- <div class="safetyImg hide-for-small hide-for-medium large-5 large-push-1 columns" data-reveal-id="dix-video" style="z-index: 2; cursor: pointer;">
        <img id="fd_img" src="//cdn.shopify.com/s/files/1/0578/7201/files/fort-dix-playbutton-min_1x1.jpg" style="position: relative; top: 1px;">
      </div>
      <div id="dix-video" class="reveal-modal with-close" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true">
        <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
          <div id="player"></div>
        </div>
      </div>
      <div class="small-10 small-push-1 large-6 large-push-0 columns safetyCopy" style="padding-bottom: 0.50%!important;margin-top: 0.1%!important;z-index: 1;">
        <span class="safetyCopyInner">
           <p class="head" style="padding-bottom:35px"><h1 class="head">Safe Sleep Starts With You</h1></p>

           <p class="safety-middle"><h4 class="middle">Through your purchases, Delta Children is</br>able to provide safe sleep environments</br>for babies around the world.</h4></p>

           <p style="padding-top:35px"><a style="" href="/pages/safe-sleep"><img class="learn_more" src="{{'learn-more-button.png' | asset_url }}"></a></p>
        </span>
      </div> -->
    </div>
    <div id="breakpoint-asset-holder" class="hide-for-large show-for-medium hide-for-small">
      <img id="breakpoint-background-banner" src="//cdn.shopify.com/s/files/1/0578/7201/files/Compressed-Screen-Back.png">
      <div id="breakpoint-text-holder">
        <h1 id="tab_SSS">SAFE SLEEP STARTS</h1>
        <h1 id="tab_WY">WITH YOU!</h1>
        <h6 id="tab_through">Through your purchase, <strong>Delta Children</strong> is able to <strong>provide safe sleep environments</strong> for babies around the world.</h6>
        <button id="tab_LM"><a href="/pages/safe-sleep"><h6>Learn More</h6></a></button>
        <div class="row">
        <img id="tab_fd_img" class="safetyImg" data-reveal-id="dix-video" src="//cdn.shopify.com/s/files/1/0578/7201/files/fort-dix-playbutton-min_1x1.jpg" style="cursor: pointer">
      </div>
      </div>
        <!-- <img id="fd_img" class="breakpoint-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/fort-dix-playbutton-min_1x1.jpg"> -->
      </div>
      <!-- <img id="fd_img" class="safetyImg" data-reveal-id="dix-video" src="//cdn.shopify.com/s/files/1/0578/7201/files/fort-dix-playbutton-min_1x1.jpg" style="position: absolute; top: 0; right: 0; width: 50%;"> -->
    </div>

    <!-- social media section below banner -->
    <div class="row" id="sm_below_safe-sleep-banner" style="">
      <div style="text-align:center;" class="instaWrapper">
        <h2>
    <div class="mobile_text" style="color: #032F63; font-weight: 700;">Follow Us On Social Media For A Daily Dose Of Love And Laughter</div><br>
      <ul class="social-icons show-for-medium-up">
        {% include 'socialMediaHome' %}
      </ul>
    <span id="tagInstaTitle" class="show-for-medium-up" style="color: #79A2D8; font-weight: 700;">Tag <span style="">#DeltaChildren</span> for a chance to be featured</span>
  </h2>
</div>
</div>



    </div>
    <img id="play-button" src="{{'play-button-homepage.png' | asset_url}}" style="display:none;">
  </div>
</div>
<!-- <div class="row show-for-medium-up">
  <div class="medium-10 medium-push-1 columns">
    <div style="display:none;" class="row" >
      <a id="tip5" href="#form-wrapper" title="">link</a>
    </div>

    </div>
  </div> -->

  <style>


  /*styling for social media icons*/
  @media screen and (min-width: 641px) {
    div#sm_below_safe-sleep-banner{
      padding-top: 20px !important;
    }
#sm_below_safe-sleep-banner i.fa-facebook{
    background-color: #79A2D8;
    color: white;
    width: 40px;
    border-radius: 7px;
  }
#sm_below_safe-sleep-banner  i.fa-instagram{
  background-color: #032F63;
  color: white;
  width: 40px;
  border-radius: 7px;
  }
  #sm_below_safe-sleep-banner i.fa-pinterest{
    background-color: #79A2D8;
    color: white;
    width: 40px;
    border-radius: 7px;
  }
  #sm_below_safe-sleep-banner i.fa-twitter{
    background-color: #032F63;
    color: white;
    width: 40px;
    border-radius: 7px;
  }
    #sm_below_safe-sleep-banner .social-icons li{
      display: inline-block;
      padding: 0 10px;
    }
  }

  @media screen and (min-width: 641px) and (max-width: 1160px)  {
    #sm_below_safe-sleep-banner ul.social-icons li{
      width: 10%;
      float: none;
    }
}
  /*end styling for social media icons*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

img#background-banner{
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
div.safetyContainer.row{
position: relative;
overflow-y: hidden;
border-radius: 15px;

}
div#asset-holder{
  overflow-y: hidden;
  position: relative;
  border-radius: 15px;
}
div#white-b{
  background-color: white;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 5%;
  bottom: 5%;
}
div#text-holder{
  position: absolute;
  width: 50%;
  left: 5%;
  /*top: 5%;*/
  top: 0;
  height: 100%;
  text-align: left;
}
div#breakpoint-asset-holder{
  position: relative;
}
div#breakpoint-text-holder{
  position: absolute;
  top: 5%;
  text-align: center;
  width: 90%;
  left: 5%;
}
img.breakpoint-img{
  position: absolute;
  top: 50%;
}

div.safetyCopy:after{
  padding-top: 57%;
}
  div.safetyCopy {
    background-color: #e8eef8;
}

  div.safetyCopy::after {
    background-color: #e8eef8;
  }

h1.head {
  font-family: 'Montserrat', sans-serif;
  color: #00488d !important;
  font-size: xx-large;
}

h4.middle {
  font-family: 'Montserrat', sans-serif;
  color: #333333 !important;
}

p a img.learn_more {
  width: 35%;
  padding-bottom: 20px;
}

@media screen and (max-width: 1176px){

  h4.middle {
    font-size: medium;
  }
p a img.learn_more {
margin-top: -35px;
}

}
@media screen and (max-width: 1025px){


  h4.middle{
    font-size: large !important;
    padding-bottom: 35px;
  }

  h1.head{
    font-size: xx-large !important;

  }


}

@media screen and (width: 1026px){

div.safetyContainer.row{
  padding-top: 35px !important;
}

.safetyImg img {
  height: 290px;
}

.safetyCopy {
  left: 50px;
}

  span.safetyCopyInner {
    padding: 0% !important;

  }

  p {
    padding-top: 0px !important;
    padding-bottom: 0px;
  }
  p a img.learn_more {
  margin-top: 0px;
  }


}


@media screen and (max-width: 1305px){
img.learn_more{
  margin-bottom: 40px;
}


  h4.middle{
    padding-bottom: 0px;
  }

  h1.head{
    margin-bottom: -5px;
  }
}

@media screen and (max-width: 1371px){
h1.head{
  font-size: x-large;
}

h4.middle{
  font-size: medium;
}

}
@media screen and (min-width: 2000px){
  img.learn_more{
    width: 25% !important;
  }

}


  </style>



<div class="row show-for-small-only">
  <div class="small-12">
    <section class="section" id="sectionOne" style="margin-bottom: -15%;">
      <a href="/pages/bundles"><picture id="main-mobile-image"><img src="//cdn.shopify.com/s/files/1/0578/7201/files/shop-cribs_1__new-op.jpg"></picture></a>
    </section>
    <section id="sectionOneButtons">
      <div class="row">
          <section class="col-xs-3 secOneChoiceWrap">
            <a href="/pages/safety-tips">
            <img src="//cdn.shopify.com/s/files/1/0578/7201/files/buttons-3-01.min.jpg" >
            </a>
          </section>
          <section class="col-xs-3 secOneChoiceWrap">
            <a href="/pages/safe-sleep">
            <img src="//cdn.shopify.com/s/files/1/0578/7201/files/buttons-3-02.min.jpg" >
            </a>
          </section>
          <section class="col-xs-3 secOneChoiceWrap">
            <a href="/blogs/the-play-yard">
            <img src="//cdn.shopify.com/s/files/1/0578/7201/files/buttons-3-03.min.jpg" >
            </a>
          </section>
          <section class="col-xs-3 secOneChoiceWrap">
            <a href="/pages/safe-sleep-videos">
             <img src="//cdn.shopify.com/s/files/1/0578/7201/files/buttons-3-04.min.jpg" >
            </a>
          </section>
        </div>
    </section>
  </div>
</div>

  <script type="text/javascript">

  // makes desktop images tiny for mobile and large for desktop to increase page speed dh-edit 5/8/17
  if ( $(window).width() > 667) {
  // $("li.slide img").each(function(){
    $('img#delta_cares').attr('src', $('img#delta_cares').attr('src').replace('_1x1.jpg', '.jpg'));
    $('img#fd_img').attr('src', $('img#fd_img').attr('src').replace('_1x1.jpg', '.jpg'));
    $('img#tab_fd_img').attr('src', $('img#tab_fd_img').attr('src').replace('_1x1.jpg', '.jpg'));

  // });
  }

  // youtube api
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;

  window.onYouTubeIframeAPIReady = function() {
    player = new YT.Player('player', {
      height: '315',
      width: '560',
      videoId: '1rWgM215Irc'
    });
  }

  $('.safetyImg').click(function(){
    setTimeout(function() {
      player.playVideo();
    }, 700);
  });

  $('.reveal-modal-bg').click(function(){
    player.stopVideo();
  });

  </script>
  <style>

  /*active buttons on home page for mobile 11/30/16*/
  @media only screen and (max-width: 420px) {
      /*takes away "menu" text for mobile homepage*/
#mobileHeaderMenuText{
 display: none;
}
.menu-icon:active{
  opacity: .4;
}
div#cart-wrap:active{
  opacity: .4;

}
span#searchIconMain:active{
  opacity: .4;
}
div#brand:active{
  opacity: .4;
}
section.col-xs-3.secOneChoiceWrap:active{
  opacity: .4;
}
section#sectionOne.section:active{
  opacity: .4;
}

div.mobile_text:active{
  opacity: .4;
}

ul.social-icons.show-for-small-only li:active{
  opacity: .4;
}
span.closeAlertText:active{
  opacity: .4;
}
}
ul.social-icons.show-for-small-only li{
  float: none;
  width: 50px;
}
</style>
