<div id='whoop-wrapper'>
<div id="nav-mobile-header">
Menu<span class='toggle-menu-mobile-close pushy-link'>X</span>
</div>
{% for link in nav.links %}
  {% include 'nav-item-class' %}
  {% capture handle %}{{ link.title | handle }}{% endcapture %}
  {% if linklists[handle] and linklists[handle].links.size > 0 and levels > 1 %}
    <li class="{{item_class}} has-dropdown-mobile topLevel" style="position: static">
      <span class="dropdownMSpan"><a href="{{ link.url }}">{{ link.title }}</a></span>

      {% comment %} Level 2 {% endcomment %}

      <ul class="dropdown dropdownM">
      <span class="stepBackMMenu">
          <span class='toggle-menu-mobile-close pushy-link'>X</span>
       </span>

      {% for link in linklists[handle].links %}
        {% include 'nav-item-class' %}
        {% capture handle %}{{ link.title | handle }}{% endcapture %}

        {% if linklists[handle] and linklists[handle].links.size > 0 and levels > 2 %}
          <li class="{{item_class}} has-dropdown-mobile dropdown-mobile-secondlevel" style="position: static;">
            <span class="dropdownMSpan"><a href="{{ link.url }}">{{ link.title }}</a></span>

            {% comment %} Level 3 {% endcomment %}

            <ul class="dropdown dropdownM">
              <span class="stepBackMMenu">
                  <span class='toggle-menu-mobile-close pushy-link'>X</span>
              </span>


              {% for link in linklists[handle].links %}
                {% include 'nav-item-class' %}
                {% capture handle %}{{ link.title | handle }}{% endcapture %}
                {% if linklists[handle] and linklists[handle].links.size > 0 and levels > 3 %}
                <li class="{{item_class}} has-dropdown-mobile dropdown-mobile-thirdlevel" style="position: static;">
                  <span class="dropdownMSpan"><a href="{{ link.url }}">{{ link.title }}</a></span>

                  {% comment %} Level 4 {% endcomment %}

                  <ul class="dropdown dropdownM">
                    <span class="stepBackMMenu">
                        <span class='toggle-menu-mobile-close pushy-link'>X</span>
                    </span>


                    {% for link in linklists[handle].links %}
                      {% include 'nav-item-class' %}
                  <li class="{{item_class}}">
                      <span class="dropdownMSpan"><a href="{{ link.url }}">{{ link.title }}</a></span>
                </li>
              <!-- </li> -->
              {% endfor %}

            </ul>

            {% comment %} End level 4 {% endcomment %}

          </li>
          {% else %}
          <li class="{{item_class}}">
            <span class="dropdownMSpan" ><a href="{{ link.url }}">{{ link.title }}</a></span>
          </li>
          {% endif %}

          {% endfor %}

          </ul>

            {% comment %} End level 3 {% endcomment %}

          </li>
        {% else %}
          <li class="{{item_class}}">
            <span class="dropdownMSpan" ><a href="{{ link.url }}">{{ link.title }}</a></span>
          </li>
        {% endif %}

      {% endfor %}

      </ul>
      {% comment %} End level 2 {% endcomment %}

    </li>
  {% else %}
    <li class="{{item_class}}">
      <span class="dropdownMSpan" ><a href="{{ link.url }}">{{ link.title }}</a></span>
    </li>
  {% endif %}

{% endfor %}
<li class="nav-item"><span class="dropdownMSpan"><a href="/pages/product-registration">Product Registration</a></span></li>
</div>
